@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@font-family: 'Poppins', sans-serif;
@widget-title-color: #23272c;
@widget-title-font-size: 20px;
@widget-title-font-weight: 400;
@text-color: #333;
@input-background: #f6f6f6;
@btn-filter-bg: #f2480c;
@btn-filter-hover-bg: #e14b2b;
@rating-color: #FFA500;
@price-border: 1px solid #ccc;
* {
    box-sizing: border-box;
}
.custom-container{
    margin-top: 25px;
.sidebar {
    font-family: Arial, sans-serif;
    font-size: 14px;

    .search-box {
        margin-bottom: 20px;
        padding-bottom: 20px;
        display: inline-block;
        width: 100%;
        input[type="text"] {
            width: 100%;
            float: left;
            margin-right: 0;
            background: #f6f6f6;
            border: 0;
            padding: 7px 20px !important;
            height: 40px !important;
            border-radius: 0 !important;
        }

        .form-search {
            width: 100%;
        }
    }

    .product-categories {
        .widget-title {
            color: @widget-title-color;
            font-size: @widget-title-font-size; 
            font-weight: @widget-title-font-weight; 
            text-transform: none;
            margin-bottom: 15px;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }

        .product-categories-2 {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .product-categories-2 {
            list-style-type: none;
            padding-left: 10px;
            margin-bottom: 25px;

            .cat-item {
                margin-bottom: 10px;

                .item {
                    text-decoration: none;
                    color: @text-color; 
                    font-size: 14px;

                    &:hover {
                        color: #FF5733;
                    }
                }

                &::before {
                    font-family: 'FontAwesome';
                    content: "\f105";
                    line-height: 1;
                    font-size: 12px;
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: baseline;
                    color: inherit;
                    margin-left: 0;
                }
            }
        }
    }

    .filter-by-price {
        h3 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .price-slider {
            width: 100%;
            margin-bottom: 10px;
        }

        .filter-button {
            display: inline-block;
            background-color:  @btn-filter-bg; /* Thay cho @btn-filter-bg */
            color: white;
            padding: 6px 20px;
            margin-right: 0;
            border: none;
            cursor: pointer;
            font-size: 14px;
            border-radius: 3px;

            &:hover {
                background-color: @btn-filter-hover-bg; 
            }
        }

        .widget-title {
            color:  @widget-title-color; 
            font-size: @widget-title-font-size; 
            font-weight: @widget-title-font-weight;
            text-transform: none;
            margin-bottom: 15px;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }
    }

    .top-rated-products {
        width: 100%;
        .widget-title {
            color: @widget-title-color;
            font-size: @widget-title-font-size;
            font-weight: @widget-title-font-weight;
            text-transform: none;
            margin-bottom: 15px;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }

        .product_list_widget {
            list-style: none;
            padding: 0;
            margin: 0;

            .item_product {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .product {
                    display: flex;
                    align-items: center;

                    .img-product {
                        width: 80px;
                        height: 50px;
                        margin-right: 15px;
                        border-radius: 4px;
                        object-fit: cover;
                    }

                    .product-info {
                        .title-product {
                            margin: 0;
                            font-size: 12px;
                            text-transform: uppercase;
                            line-height: 1.2;
                            white-space: nowrap;
                            color: #999797;
                        }

                        .rating {
                            color: @rating-color; 
                            margin-top: 5px;
                        }

                        .price {
                            display: block;
                            font-size: 14px;
                            color: @text-color; /* Thay cho @text-color */
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}

::selection {
    color: #fff;
    background: @btn-filter-bg; 
}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    margin-top: 5px;
    font-size: 16px;
}

.price-input {
    width: auto;
    display: flex;
    padding-top: 4px;
    margin-top: 10px;
    justify-content: flex-end;
   
    .field {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        .input-min {
            border: none;
            background: none;
            font-size: 14px;
            color: #000;
            outline: none;
            appearance: none;
            -moz-appearance: textfield;
            width: 50px;
            height: auto;
            outline: none;
            border-radius: 5px;
            text-align: center;
        }
        .input-max {
            border: none;
            background: none;
            font-size: 16px;
            color: #000;
            outline: none;
            appearance: none;
            -moz-appearance: textfield;
            width: 50px;
            height: auto;
            outline: none;
            border-radius: 5px;
            text-align: center;
        }
    }
  
    .btn-filter {
        background-color: @btn-filter-bg !important; 
        border-color: #f2480c !important;
        font-size: 14px;
        line-height: 20px;
        float: left;
        overflow: visible;
        padding: 7px 25px;
        color: #fff;
        white-space: nowrap;
        border-radius: 4px;
        border: 1px solid #2a64d9;
        cursor: pointer;
        margin-right: 18px;
    }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {
    width: auto;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 6px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    .progress {
        height: 100%;
        position: absolute;
        border-radius: 5px;
        background: @btn-filter-bg;
    }
}


.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background:  @btn-filter-bg;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: @btn-filter-bg; 
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.price-range-input {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    border: 1px solid @price-border;
    padding: 12px 15px;
    background: white;
    height: 60px;
}

}
@media (max-width: 1200px) {
    .custom-container {
        margin: 10px;
    }
    .sidebar {
        .search-box {
            input[type="text"] {
                height: 35px !important;
            }
        }

        .product-categories,
        .filter-by-price,
        .top-rated-products {
            border: none; 
        }
    }

    .col-lg-3 {
        width: 100%; 
    }

    .col-lg-9 {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .custom-container {
        padding: 0 15px; 
    }

    .product_list_widget {
        .item_product {
            .product-info {
                text-align: center; 
            }
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        .widget-title {
            font-size: 18px; 
            
        }

        .price-input {
            flex-direction: row; 
            align-items: center;
        }

        .btn-filter {
            margin-right: 480px;
            margin-top: 10px; 
        }
    }
}



@media (max-width: 576px) {
    .sidebar {
        .search-box {
            input[type="text"] {
                font-size: 14px; 
            }
        }
        .price-input {
            flex-direction: row; 
            align-items: center;
        }
        .btn-filter {
            margin-right: 140px;
            margin-top: 10px; 
        }

      

        .product-categories-2,
        .product_list_widget {
            padding-left: 0; 
        }

        .item_product {
            margin-bottom: 10px;
        }

        .rating {
            font-size: 12px;
        }
    }
}
